:root {
  --primary-teal: #34626c;
  --primary-dark-blue: #11324d;
  --primary-accent-font-color: #c1cfc0;
  --accent-color: #93b5c6;
  --background-teal: rgba(121, 180, 183);
  --background-blue: rgba(52, 98, 108, 0.7);
}
body {
  background-color: var(--background-teal);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  color: var(--primary-teal);
  padding: 20px;
}
h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  padding-top: 20px;
}
p {
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
footer {
  background-color: var(--background-teal);

  padding-top: 50px;
  padding-bottom: 50px;
}
.primary-link {
  color: var(--primary-accent-font-color);
  background-color: var(--primary-dark-blue);
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--primary-dark-blue);
  border-radius: 4px;
  padding: 12px 18px;
  margin: 0 auto;
}
.primary-link:hover {
  color: whitesmoke;
}
.secondary-link {
  color: black;
  background-color: var(--accent-color);
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--primary-dark-blue);
  border-radius: 4px;
  padding: 12px 18px;
  margin: 0 auto;
}
.secondary-link:hover {
  color: var(--primary-dark-blue);
}
.navbar {
  background-color: var(--primary-teal);
}
.navbar-dark .navbar-brand {
  color: var(--primary-accent-font-color);
}
.page-heading {
  padding: 100px 0 50px 40px;
  background-color: var(--background-teal);
}
.hero {
  text-align: center;
}
.hero p {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.image-cropper {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
}
.project-thumbnail-img {
  max-width: 238px;
}
.about-me-content h1 {
  padding-bottom: 0px;
}
.about-me-image {
  max-height: 400px;
  border: 1px solid none;
  border-radius: 2px;
}

.portfolio h1 {
  color: whitesmoke;
  text-align: center;
}
.row img {
  display: block;
  margin: 0 auto;
  max-width: ;
}
.project-frame-primary {
  background-color: var(--background-teal);
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-frame-secondary {
  background-color: var(--background-blue);
  padding-top: 80px;
  padding-bottom: 80px;
}
.project-info {
  text-align: left;
}

.project-image {
  border: 1px solid darkslategrey;
  border-radius: 4px;
  max-width: 300px;
}
.project-image img {
  display: flex;
}
.github-repository-link {
  color: navy;
}
.enquiry-footer-section {
  background-color: var(--primary-teal);
  display: block;
  margin: 0 auto;

  padding: 20px;
}
.enquiry-heading {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 86px;
  color: var(--accent-color);
}
.contact-footer-section {
  text-align: center;
  margin-top: 20px;
}
.email-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 28px;
}
.icons {
  max-width: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 14px;
  }
  .enquiry-heading {
    font-size: 40px;
  }
  .project-frame-primary img {
    margin-bottom: 20px;
  }
  .project-frame-secondary img {
    margin-top: 20px;
  }
  .about-me-image {
    max-width: 216px;
  }
  .project-thumbnail-img {
  }
  .card-body {
    text-align: center;
  }
  .project-info {
    text-align: center;
  }
}
